<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <title>Ticket form</title>
</head>

<body>
    <main>
        <div class="container-fluid mx-2">
            <form th:action="@{/ticket/new}" method="post" enctype="multipart/form-data">
                <div class="mt-3">
                    <label for="title" class="fs-3 text-secondary fw-semibold">Title</label>
                    <div class="border-top border-2 my-1"></div>

                    <div class="col-6">
                        <input id="title" class="form-control fs-3 fw-bold text-black" type="text" name="title" required>
                    </div>
                </div>

                <div class="mt-3">
                    <span class="fs-3 text-secondary fw-semibold">Details</span>
                    <div class="border-top border-2 my-1"></div>

                    <div class="row">
                        <label for="type" class="col-form-label col-2 fs-5 text-black fw-semibold">
                            Type:
                        </label>
                        <div class="col-2">
                            <select id="type" class="form-select fs-5 fw-semibold text-secondary" name="type" required>
                                <option th:each="type : ${types}" th:value="${type.id}"
                                        th:text="${#strings.toLowerCase(type.getValue())}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="dueDate" class="col-form-label col-2 fs-5 text-black fw-semibold">
                            Due date:
                        </label>
                        <div class="col-2">
                            <input id="dueDate" class="form-control fs-5 fw-semibold text-secondary"
                                   type="date" name="dueDate" required>
                        </div>
                    </div>
                    <div class="row">
                        <label for="assignee" class="col-form-label col-2 fs-5 text-black fw-semibold">
                            Assignee:
                        </label>
                        <div class="col-3">
                            <select id="assignee" class="form-select fs-5 fw-semibold text-secondary" name="assignee" required>
                                <option th:each="user : ${users}" th:value="${user.id}"
                                        th:text="${user.username + ' - ' + user.firstName + ' ' + user.lastName}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <label for="resolutionEstimatedHours" class="col-form-label col-2 fs-5 text-black fw-semibold">
                            Estimated hours of resolution:
                        </label>
                        <div class="col-2">
                            <input id="resolutionEstimatedHours" class="form-control fs-5 fw-semibold text-secondary"
                            type="number" min="0.5" step="0.5" name="resolutionEstimatedHours" required>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <label for="descriptionTextArea" class="fs-3 text-secondary fw-semibold">
                        Description
                    </label>
                    <div class="border-top border-2 my-1"></div>

                    <div class="col-6">
                        <textarea id="descriptionTextArea" class="form-control fs-5" name="description"></textarea>
                    </div>
                </div>

                <div class="mt-3">
                    <label for="attachment" class="fs-3 text-secondary fw-semibold">Attachment</label>
                    <div class="border-top border-2 my-1"></div>

                    <div class="col-6">
                        <input id="attachment" class="form-control fs-5" type="file" name="file"/>
                    </div>
                </div>

                <div class="mt-5">
                    <button class="btn btn-primary fs-4" type="submit">Create</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>