<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<!-- in this case, because of property flex-direction: column of body, justify-content-center is for vertical alignment
and align-items-center is for horizontal alignment -->
<body class="d-flex justify-content-center align-items-center">
<header class="position-fixed top-0 start-0">
    <div class="mb-1 container-fluid px-0">
        <div>
            <a class="p-3 fs-3 fw-bold text-white bg-dark btn rounded-0"
               th:href="@{/home}" role="button">
                SUPSI tickets
            </a>
        </div>
    </div>
</header>

<main class="col-3">
    <div class="text-center">
        <span class="fs-1 fw-bold text-black">Register</span>

        <form method="post" autocomplete="off" th:action="@{/register}">
            <div class="my-2">
                <label for="firstName" class="visually-hidden">First Name</label>
                <input id="firstName" type="text" class="form-control fs-5" name="firstName"
                       placeholder="First Name" required/>
                <span class="errorMessage"></span>
            </div>

            <div class="my-2">
                <label for="lastName" class="visually-hidden">Last Name</label>
                <input id="lastName" type="text" class="form-control fs-5" name="lastName"
                       placeholder="Last Name" required/>
                <span class="errorMessage"></span>
            </div>

            <div class="my-2">
                <label for="username" class="visually-hidden">Username</label>
                <input id="username" type="text" class="form-control fs-5" name="username"
                       placeholder="Username" required/>
                <span class="errorMessage"></span>
            </div>

            <div class="my-2">
                <label for="password" class="visually-hidden">Password</label>
                <input id="password" type="password" class="form-control fs-5" name="password"
                       placeholder="Password" required>
                <span class="errorMessage"></span>
            </div>

            <div class="my-2">
                <label for="passwordConfirm" class="visually-hidden">Confirm Password</label>
                <input id="passwordConfirm" type="password" class="form-control fs-5"
                       placeholder="Confirm Password" required>
                <span class="errorMessage"></span>
            </div>

            <div id="registerButtonContainer" class="my-2">

            </div>

            <div class="my-2">
                <a class="btn btn-outline-primary fs-5 col-12" th:href="@{/home}" role="button">Cancel</a>
            </div>

            <hr>

            <span class="fs-6">
                    Already registered? <a th:href="@{/login}">Log in</a> instead.
            </span>
        </form>
    </div>

    <script th:src="@{/scripts/registration-validation.js}"></script>
</main>
</body>
</html>