<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <title>Watches page</title>
</head>

<body>
    <main>
        <div class="container-fluid mx-2">
            <div th:each="ticket : ${watchedTickets}" th:object="${ticket}">
                <span th:text="*{title}" class="fs-1 fw-bold text-black"></span>

                <div class="mt-2">
                    <span class="fs-3 text-secondary fw-semibold">Details</span>
                    <div class="border-top border-2 my-1"></div>

                    <div class="col-6">
                        <div class="row">
                            <div class="col">
                                <span class="fs-5 text-black fw-semibold">Status:</span>
                                <span class="fs-5 fw-semibold px-1 rounded-3 text-white bg-primary"
                                      th:text="*{#strings.toLowerCase(status.value)}">
                                </span>
                            </div>
                            <div class="col">
                                <span class="fs-5 text-black fw-semibold">Type:</span>
                                <span class="fs-5 fw-semibold text-secondary ms-1"
                                      th:text="*{type.value}">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="fs-5 text-black fw-semibold">Author:</span>
                                <span class="fs-5 text-secondary" th:text="*{author.username}"></span>
                            </div>
                            <div class="col">
                                <span class="fs-5 text-black fw-semibold">Created:</span>
                                <span class="fs-5" th:text="*{#temporals.format(creationDate, 'dd-MM-yyyy, HH:mm')}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="fs-5 text-black fw-semibold">Assignee:</span>
                                <span class="fs-5 text-secondary" th:text="*{assignee.username}"></span>
                            </div>
                            <div class="col">
                                <span class="fs-5 text-black fw-semibold">Due to:</span>
                                <span class="fs-5" th:text="*{#temporals.format(dueDate, 'dd-MM-yyyy')}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="fs-5 text-black fw-semibold">Estimated hours:</span>
                                <span class="fs-5 text-secondary" th:text="*{resolutionEstimatedHours}"></span>
                            </div>
                            <div class="col">
                                <span class="fs-5 text-black fw-semibold">Total hours:</span>
                                <span class="fs-5 text-secondary"
                                      th:text="${ticket.resolutionTotalHours != null ?
                                      ticket.resolutionTotalHours : 'ongoing'}">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                    <span class="fs-3 text-secondary fw-semibold mt-3">Description</span>
                    <div class="border-top border-2 my-1"></div>
                    <span class="fs-5" th:text="*{description}"></span>
                </div>

                <div class="mt-2">
                    <span class="fs-3 text-secondary fw-semibold mt-3">Attachment</span>
                    <div class="border-top border-2 my-1"></div>

                    <a th:if="*{attachment != null}" id="attachment" target="_blank" class="fs-5"
                       th:text="*{attachment.name}"
                       th:href="@{'/ticket/' + *{id} + '/attachment/' + *{attachment.name}}"></a>

                    <span th:if="*{attachment == null}" class="fs-5">No attachment</span>
                </div>

                <div class="border-top border-black border-2 my-5"></div>
            </div>
        </div>
    </main>
</body>
</html>